<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877649265265-3h5lnvjjea4424trbondrrq7qfgfrmnl.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877649265265-3h5lnvjjea4424trbondrrq7qfgfrmnl</string>
	<key>API_KEY</key>
	<string>AIzaSyBdNFDjzudI_S1fNbt43lV1POWPp-HqZiE</string>
	<key>GCM_SENDER_ID</key>
	<string>877649265265</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>hannarong.HearCareApp</string>
	<key>PROJECT_ID</key>
	<string>hearecareapp</string>
	<key>STORAGE_BUCKET</key>
	<string>hearecareapp.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:877649265265:ios:c8b9925c39d5e6159a51d0</string>
</dict>
</plist>
